<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>my_cv</title>
	<meta name="viewport" content="width = device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{%static 'Homepage/w3.css' %}">



</head>

<body class="w3-light-grey">


<!--   <div class="w3-row-padding w3-margin-top w3-border-bottom">
  
    <div class="w3-card w3-row l12">
      <img src="{% static 'Homepage/Images/home.jpeg' %}" style="width:100%">
      

  </div>
</div> -->
<div class="w3-padding-16" >
<div class="w3-display-container w3-margin-bottom ">
  <img src="{% static 'Homepage/Images/home.jpeg' %}" height="400px" width="100%" alt="Lights">
  <div class="w3-display-topleft w3-bar">
  	<img src="{% static 'Homepage/Images/download.jpg'%}" class="w3-margin-top" height = "40px" width="40px">
  	<img src="{% static 'Homepage/Images/download.jpg'%}" class="w3-margin-top" height = "40px" width="40px">
  	<a href="#"> <img src="{% static 'Homepage/Images/download.jpg'%}" class="w3-margin-top" height = "40px" width="40px"> </a>
  </div>
  <div class="w3-display-topright w3-container">Top Right</div>
  <div class="w3-display-bottomleft w3-container">Bottom Left</div>
  <div class="w3-display-bottomright w3-container">Bottom Right</div>
  <div class="w3-display-left w3-container">Left</div>
  <div class="w3-display-right w3-container">Right</div>
  <div class="w3-display-middle w3-large">Middle</div>
  <div class="w3-display-topmiddle w3-container">Top Middle</div>
  <div class="w3-display-bottommiddle w3-container w3-margin-bottom">Bottom Middle</div>

</div>
<div class="w3-container w3-center">
	<p1>
		Hello, my name is Subash Sapkota, is oneofdsfhsdfk sdfhsdhfos df hfdoh<br>
		hga;hgdaghadhiudhafpadhfdgp;hadpghadighoajdgihadgphghahgdaihg<br>
		hadshf;hafdhafdshfoiahsdfoih<br>hasfhasdphgfpashgdf<br>
	</p1>
	</div>

	<div class="w3-container w3-center w3-margin-top">
		<h2>Informations</h2>




	</div>


</div>


</body>

</html>